<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Invert911.InvertCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <setting name="WebServiceURL" serializeAs="String">
      <value>http://www.Invert911.com/</value>
    </setting>
    <Invert911.InvertCommon.Properties.Settings>
      <setting name="Invert911_InvertCommon_Invert911service_Invert911Service" serializeAs="String">
        <value>http://www.invert911.com/invert911service.asmx</value>
      </setting>
    </Invert911.InvertCommon.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="i9databaseEntities" connectionString="metadata=res://*/DataTypes.DataClasses.i9Model.csdl|res://*/DataTypes.DataClasses.i9Model.ssdl|res://*/DataTypes.DataClasses.i9Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=i9database;user id=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration> 