<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <appSettings>
    <add key="ConnectionString" value="" />
    <add key="SMTPServerAddress" value="" />
    <add key="SMTPUserName" value="NoReply@invert911.com" />
    <add key="SMTPPassword" value="" />
    <add key="SMTPPort" value="" />
    
  </appSettings>
  
  <connectionStrings>

  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
